<!-- Partial for about section of homepage -->
<div class="container-fluid center" id="about_section">
    <div class="row about-section pop2"><h2>About us</h2></div>
    <div class="container  about-text">
        <div class="row">
            <div class="col-sm-6 center">
                <%= image_tag("3.jpg", size: "300x150") %>
                <h4>IMAGE IMAGE IMAGE LOGO?</h4>
            </div>
            <div class="col-sm-6 center">
        <h4>Our goal is to drive social change through software. By connecting UBC computer science and engineering students to local, non-profit organizations, we provide them with the opportunity to use their technical skills for social good. We are interested in a wide range of issues and enthusiastic about applying a wide range of technologies to contribute to their solutions. You can find the software for our projects <%= link_to "here", 'https://github.com/CodeTheChangeUBC' %>.</h4>    
    </div>
    </div>
    
    </div>
</div>
<div class="container-fluid center about-style1">
    <div class ="row">
        <div class ="col-sm-2"></div>
        <div class ="col-sm-8">
            <div class= "row">
    <div class="col-sm-4">
        <%= image_tag("ubc1.png", size: "200x200") %>
        <h3>Create</h3>
        <p>Initiate our own social good ventures</p>
    </div>
    <div class="col-sm-4">
        <%= image_tag("github_small.png", size: "200x200") %>
        <h3>Collaborate</h3>
        <p>Seek out non-profit partners to assist technologically</p>
    </div>
    <div class="col-sm-4">
        <%= image_tag("CTC_logo", size: "200x200") %>
        <h3>Compete</h3>
        <p>Compete in hackathons with a social good agenda</p>
    </div>
    </div>
    </div>
    <div class ="col-sm-2"></div>
    </div>
</div>
