<head>
		<body>
<div class="container-fluid " id="projects_section">
 <center><h1>Our Projects</h1></center>   
</div>

			<div class="main">
				<ul id="og-grid" class="og-grid">
					<li>
						<a  data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
							<%= image_tag("1.jpg", size: "200x200") %>
						</a>
					</li>
					<li>
						<a  data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
							<%= image_tag("2.jpg", size: "200x200") %>
						</a>
					</li>
					<li>
						<a data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
							<%= image_tag("3.jpg", size: "200x200") %>
						</a>
					</li>
					<li>
						<a data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
							<%= image_tag("1.jpg", size: "200x200") %>
						</a>
					</li>
					<li>
						<a  data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
							<%= image_tag("2.jpg", size: "200x200") %>
						</a>
					</li>
					<li>
						<a data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
							<%= image_tag("3.jpg", size: "200x200") %>
						</a>
					</li>
					<li>
						<a data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
							<%= image_tag("3.jpg", size: "200x200") %>
						</a>
					</li>
					<li>
						<a data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
							<%= image_tag("3.jpg", size: "200x200") %>
						</a>
					</li>
					<li>
						<a data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
							<%= image_tag("3.jpg", size: "200x200") %>
						</a>
					</li>
				</ul>
			</div>
	

		<script>
			$(function() {
				Grid.init();
				
				
			});
		</script>

</body>
