<div class="container-fluid" id="team_section">
	<div class="row about-section pop2"><center><h3>Our Team</h3></center></div>
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-10 row">
  <div class="col-sm-3">
 
    <div class="ih-item circle colored effect3 right_to_left"><a href="#">
        <div class="img"><%= image_tag("1.jpg") %></div>
        <div class="info">
          <h3>Name here</h3>
          <p>Description goes here</p>
        </div></a></div>
 
  </div>
  <div class="col-sm-3">
    <div class="ih-item circle colored effect3 right_to_left"><a href="#">
        <div class="img"><%= image_tag("2.jpg") %></div>
        <div class="info">
          <h3>Name here</h3>
          <p>Description goes here</p>
        </div></a></div>
 
  </div>
    <div class="col-sm-3">
  <div class="ih-item circle colored effect3 right_to_left"><a href="#">
        <div class="img"><%= image_tag("3.jpg") %></div>
        <div class="info">
          <h3>Name here</h3>
          <p>Description goes here</p>
        </div></a></div>
</div>
 <div class="col-sm-3">
  <div class="ih-item circle colored effect3 right_to_left"><a href="#">
        <div class="img"><%= image_tag("3.jpg") %></div>
        <div class="info">
          <h3>Name here</h3>
          <p>Description goes here</p>
        </div></a></div>
        </div>
        </div>
        <div class="col-sm-1"></div>

</div>
<div class="row">
<div class="col-sm-1"></div>
  <div class="col-sm-10 row">
  <div class="col-sm-3">
 
    <div class="ih-item circle colored effect3 right_to_left"><a href="#">
        <div class="img"><%= image_tag("1.jpg") %></div>
        <div class="info">
          <h3>Name here</h3>
          <p>Description goes here</p>
        </div></a></div>
 
  </div>
  <div class="col-sm-3">
    <div class="ih-item circle colored effect3 right_to_left"><a href="#">
        <div class="img"><%= image_tag("2.jpg") %></div>
        <div class="info">
          <h3>Name here</h3>
          <p>Description goes here</p>
        </div></a></div>
 
  </div>
    <div class="col-sm-3">
  <div class="ih-item circle colored effect3 right_to_left"><a href="#">
        <div class="img"><%= image_tag("3.jpg") %></div>
        <div class="info">
          <h3>Name here</h3>
          <p>Description goes here</p>
        </div></a></div>
</div>
 <div class="col-sm-3">
  <div class="ih-item circle colored effect3 right_to_left"><a href="#">
        <div class="img"><%= image_tag("3.jpg") %></div>
        <div class="info">
          <h3>Name here</h3>
          <p>Description goes here</p>
        </div></a></div>
        </div>
        </div>
        <div class="col-sm-1"></div>

</div>
<div class="row">
<div class="col-sm-1"></div>
  <div class="col-sm-10 row">
  <div class="col-sm-3">
 
    <div class="ih-item circle colored effect3 right_to_left"><a href="#">
        <div class="img"><%= image_tag("1.jpg") %></div>
        <div class="info">
          <h3>Name here</h3>
          <p>Description goes here</p>
        </div></a></div>
 
  </div>
  <div class="col-sm-3">
    <div class="ih-item circle colored effect3 right_to_left"><a href="#">
        <div class="img"><%= image_tag("2.jpg") %></div>
        <div class="info">
          <h3>Name here</h3>
          <p>Description goes here</p>
        </div></a></div>
 
  </div>
    <div class="col-sm-3">
  <div class="ih-item circle colored effect3 right_to_left"><a href="#">
        <div class="img"><%= image_tag("3.jpg") %></div>
        <div class="info">
          <h3>Name here</h3>
          <p>Description goes here</p>
        </div></a></div>
</div>
 <div class="col-sm-3">
  <div class="ih-item circle colored effect3 right_to_left"><a href="#">
        <div class="img"><%= image_tag("3.jpg") %></div>
        <div class="info">
          <h3>Name here</h3>
          <p>Description goes here</p>
        </div></a></div>
        </div>
        </div>
        <div class="col-sm-1"></div>

</div>
</div>
