<!DOCTYPE html>
<html lang=en>
    <head>
        <!-- TODO: Move scripts to load last -->
        <title>CtC - UBC</title>
        <%= stylesheet_link_tag "application", media: "all" %>
        <%= javascript_include_tag "application" %>
        <script src="scripts/js/boostrap.min.js"></script>
    </head>
    <body data-spy="scroll" data-target=".navbar">
        <div class="jumbotron text-center" id="main_section">
            <h1>Code the Change - UBC Chapter</h1>
            <h2>
                "Code the change you want to see in the world" - Unknown wise person
            </h2>
            <div class="btn-group btn-group-lg" role="group">
                <div class="btn-group" role="group">
                    <%= button_to "Our Projects", project_index_path, :method => "get", class: 'myButton btn-primary btn-lg btn-block' %>
                    <%= button_to "Get Involved", login_path, :method => "get", class: 'myButton btn-block btn-primary btn-lg' %>
                </div>
            </div>
        </div>
        <div class="jumbotron" id="about_section">
            <h1>About Us:</h1>
            <div class="row">
                <h2>
                    Welcome to the home of the UBC Chapter of Code the Change, an organisation of passionate university students applying their software engineering prowess for social good.
                </h2>
            </div>
            <div class="row">
                <!-- horizontal layout -->
                <!-- TODO: Centre the elements -->
                <div class="col-sm-4">
                    <%= image_tag("insta_mp_sledding.jpg", :alt => "Placeholder Image", size: "300x300") %>
                    <h3>Collaborate</h3>
                    <p>Seek out non-profit partners to assist technologically</p>
                </div>
                <div class="col-sm-4">
                    <%= image_tag("insta_mp_sledding.jpg", :alt => "Placeholder Image", size: "300x300") %>
                    <h3>Create</h3>
                    <p>Initiate our own Social Good Ventures</p>
                </div>
                <div class="col-sm-4">
                    <%= image_tag("insta_mp_sledding.jpg", :alt => "Placeholder Image", size: "300x300") %>
                    <h3>Compete</h3>
                    <p>Compete in Hackathons with a social good agenda</p>
                </div>
            </div>
            <div class="row">
                <%= button_to "More", about_path, :method => "get", class: 'btn btn-primary btn-lg btn-block' %>
            </div>
        </div>
        <div class="jumbotron" id="projects_section">
            <p>Our Projects</p>
            <div id=projects_carousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#projects_carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#projects_carousel" data-slide-to="1"></li>
                    <li data-target="#projects_carousel" data-slide-to="2"></li>
                    <li data-target="#projects_carousel" data-slide-to="3"></li>
                </ol>
                <!-- Slide Wrappers -->
                <div class="carousel-inner" role="listbox" id="project_slides">
                    <div class="item active" align="middle">
                        <%= image_tag("insta_mp_sledding.jpg", :alt => "Placeholder Image", align: "middle", size: "300x300") %>
                        <p>"Not at all. The 'G' with the small 't' stands for 'Gesellschaft,' which is the German for 'Company.' It is a customary contraction like our 'Co.' 'P,' of course, stands for 'Papier.' Now for the 'Eg.' Let us glance at our Continental Gazetteer." He took down a heavy brown volume from his shelves.  "Eglow, Eglonitz--here we are, Egria. It is in a German-speaking country--in Bohemia, not far from Carlsbad. 'Remarkable as being the scene of the death of Wallenstein, and for its numerous glass-factories and paper-mills.' Ha, ha, my boy, what do you make of that?" His eyes sparkled, and he sent up a great blue triumphant cloud from his cigarette.</p>
                    </div>
                    <div class="item" align="middle">
                        <%= image_tag("insta_mp_sledding.jpg", :alt => "Placeholder Image", align: "middle", size: "300x300") %>
                        <p>"Not at all. The 'G' with the small 't' stands for 'Gesellschaft,' which is the German for 'Company.' It is a customary contraction like our 'Co.' 'P,' of course, stands for 'Papier.' Now for the 'Eg.' Let us glance at our Continental Gazetteer." He took down a heavy brown volume from his shelves.  "Eglow, Eglonitz--here we are, Egria. It is in a German-speaking country--in Bohemia, not far from Carlsbad. 'Remarkable as being the scene of the death of Wallenstein, and for its numerous glass-factories and paper-mills.' Ha, ha, my boy, what do you make of that?" His eyes sparkled, and he sent up a great blue triumphant cloud from his cigarette.</p>
                    </div>
                    <div class="item" align="middle">
                        <%= image_tag("insta_mp_sledding.jpg", :alt => "Placeholder Image", align: "middle", size: "300x300") %>
                        <p>"Not at all. The 'G' with the small 't' stands for 'Gesellschaft,' which is the German for 'Company.' It is a customary contraction like our 'Co.' 'P,' of course, stands for 'Papier.' Now for the 'Eg.' Let us glance at our Continental Gazetteer." He took down a heavy brown volume from his shelves.  "Eglow, Eglonitz--here we are, Egria. It is in a German-speaking country--in Bohemia, not far from Carlsbad. 'Remarkable as being the scene of the death of Wallenstein, and for its numerous glass-factories and paper-mills.' Ha, ha, my boy, what do you make of that?" His eyes sparkled, and he sent up a great blue triumphant cloud from his cigarette.</p>
                    </div>
                    <div class="item" align="middle">
                        <%= image_tag("insta_mp_sledding.jpg", :alt => "Placeholder Image", size: "300x300") %>
                        <p>"Not at all. The 'G' with the small 't' stands for 'Gesellschaft,' which is the German for 'Company.' It is a customary contraction like our 'Co.' 'P,' of course, stands for 'Papier.' Now for the 'Eg.' Let us glance at our Continental Gazetteer." He took down a heavy brown volume from his shelves.  "Eglow, Eglonitz--here we are, Egria. It is in a German-speaking country--in Bohemia, not far from Carlsbad. 'Remarkable as being the scene of the death of Wallenstein, and for its numerous glass-factories and paper-mills.' Ha, ha, my boy, what do you make of that?" His eyes sparkled, and he sent up a great blue triumphant cloud from his cigarette.</p>
                    </div>
                </div>

                <!-- L&R controls -->
                <a class="left carousel-control" href="#projects_carousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#projects_carousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <%= button_to "All Our Projects", project_index_path, :method => "get", class: 'btn btn-primary btn-lg btn-block' %>
        </div>
        <div class="jumbotron" id="subscribe_section">
            <p>Subscribe here</p>
        </div>
        <div class="btn-group btn-group-justified" role="group">
            <div class="btn-group" role="group">
                <%= button_to "Get Involved", login_path, :method => "get", class: 'btn btn-primary btn-lg' %>
            </div>
        </div>
    </body>
</html>
