<!-- HOMEPAGE CONTENT -->
<div id="homepage-content-wrapper">

  <!-- Intro Section -->
  <div class="container-fluid" id="homepage-intro">
    <h1>Effecting Social Change with Technology</h1>
    <h3>Code the Change empowers non-profits through open source software</h3>
    <%= image_tag('ubc_logo.png') %><br>
  </div>


  <!-- About section -->
  <div id="homepage-about" class="container-fluid">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2" id="about">
        <h3> <b id="ctc">Code the Change UBC</b> helps change the world one software project at a time. We believe in the powerful combination of students' passion and technical skills with the vision and knowledge of philanthropic organizations.</h3>
        <hr>
      </div>

      <div class="col-xs-offset-1 col-xs-10">
        <div class="col-md-4 fade-in1">
          <div class="about-box">
            <div id="tile1">
            </div>
            <%= link_to 'About', about_path, class: 'btn about-btn' %>
          </div>
        </div>

        <div class="col-md-4 fade-in1">
          <div class="about-box">
            <div id="tile2">
            </div>
            <%= link_to 'The Team', members_path, class: 'btn about-btn' %>
          </div>
        </div>

        <div class="col-md-4 fade-in1">
          <div class="about-box">
            <div id="tile3">
            </div>
            <%= link_to 'Projects', projects_path, class: 'btn about-btn' %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Contact section -->
  <div id="homepage-contact">
    <div class="container-fluid">
      <div class="col-sm-6 col-sm-offset-3">
        <h3>Interested? We'd love to chat about interesting problems, cool initiatives, or a possible collaboration - feel free to get in touch!</h3>  
      </div>
    </div>
    <button class="btn contact-btn" data-toggle="modal" data-target="#contactUs"> Contact Us </button>
    <!-- <h3 id="hide"><a href="mailto:codethechangeubc@gmail.com">codethechangeubc@gmail.com</a> </h3> -->
    
    <!-- Modal -->
    <div id="contactUs" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <p>You can find more immediate information on our <%= link_to 'about page', about_path %>. If you're a student interested in joining (or an alumni) please include your year level, program and experience level.  
            </p>
            <p>Email: <a href="mailto:codethechangeubc@gmail.com">codethechangeubc@gmail.com</a>
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>