<!-- HOMEPAGE CONTENT -->
<div id="homepage-content-wrapper">

  <!-- Intro Section -->
  <div class="container-fluid" id="homepage-intro">
    <h1>Effecting Social Change with Technology.</h1>
    <h3>Code the Change empowers non-profits through open source software.</h3>
    <%= image_tag('network.png') %><br>
  </div>


  <!-- About section -->
  <div id="homepage-about" class="container-fluid">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3" id="about">
        <h3> <b id="ctc">Code the Change UBC</b> provides free software for non-profits who do not have the means to develop it themselves. We believe in the powerful combination of students' passion and technical skills with the vision and knowledge of philanthropic organizations.</h3>
        <hr>
      </div>
    </div>

    <div class="container about-grid">
      <div class="col-sm-6" id="tile-1">
        <h3>We build effective, cutting-edge software for the organizations who need it most.</h3>
        <div>
          <%= link_to 'Projects', projects_path, class: 'btn about-btn' %>
        </div>
      </div>
      <div class='col-sm-6'>
        <div class='container-fluid' id="tile-2">
          <h3>We are student engineers volunteering our time for the causes in which we believe.</h3>
          <%= link_to 'The Team', members_path, class: 'btn about-btn' %>
        </div>
        <div class='container-fluid' id='tile-3'>
          <h3>We believe in using technology to enhance the effectiveness of existing organizations.</h3>
          <%= link_to 'About', about_path, class: 'btn about-btn' %>
        </div>
      </div>
    </div>    
  </div>

  
  <div class='container-fluid keywords'>
    <div id='words'>
      <h3 id='top-tag'>Our Technical Areas</h3>
      <div id='tags'>
        <ul>
          <li>
            Data Analytics 
          </li>
          
          <li>
            Web and App Development 
          </li>
          
          <li>
            Machine Learning 
          </li>
          
          <li>
            Database Management 
          </li>
          <li>
            Virtual Reality 
          </li>
        </ul>
      </div>
      <h3 id='bottom-tag'>std::cout << "Changing the world one line of code at a time. \n";</h3>
    </div>
  </div>

  <!-- Contact section -->
  <div id="homepage-contact">
    <div class="container-fluid">
      <div class="col-sm-6 col-sm-offset-3">
        <h3>Interested? We'd love to chat about interesting problems, cool initiatives, or a possible collaboration - feel free to get in touch!</h3>  
      </div>
    </div>
    <button class="btn contact-btn" data-toggle="modal" data-target="#contactUs"> Contact Us </button>
    
    <!-- Modal -->
    <div id="contactUs" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <p>You can find more immediate information on our <%= link_to 'about page', about_path %>. If you're a student interested in joining (or an alumni) please include your year, program, and experience level.  
            </p>
            <p>Email: <a href="mailto:codethechangeubc@gmail.com">codethechangeubc@gmail.com</a>
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>