<div class="col-sm-4">
	<div class="project-picture center">
		<%= image_tag(project.picture) %>
	</div>
	<div class="project-desc">
		<% description = project.description.to_s %>
    <h4 data-toggle="modal" data-target="#info<%= project.id.to_s %>">
    	<b><%= project.title %></b>
    </h4>
    <!-- <p><%= description[0..200] %>
    	<% if description.length > 200 %>
    	...
    	<% end %>
    </p> -->
    <p id="software">See the software <%= link_to "here", project.githubPage %></p>	
    <hr>
	</div>
	

	<!-- Modal -->
	<div id="info<%= project.id.to_s %>" class="modal fade container" role="dialog">
	  <div class="modal-dialog">

	    <!-- Modal content-->
	    <div class="modal-content project-show">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title"><%= project.title %></h4>
	        <h5 class="status">- <%= project.status %></h5>
	      </div>
	      <div class="modal-body details">
	        <% if admin? %>
				<%= link_to "Edit Project", edit_project_path(project) %> |
	        	<%= link_to "Delete Project", project,
	              method: :delete, 
	              data: { confirm: "Are you sure you want to delete this project? "} %>
			<% end %>
			<p>
			    <%= markdown(project.description) %>
			</p>
			<p>You can see the software for the project <%= link_to "here", project.githubPage %>
				<% if !project.project_url.nil? and !project.project_url.empty? %>
					and the project in use <%= link_to "here", project.project_url %>
				<% end %>.
			</p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn-md btn" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>
</div>
    