<div class="jumbotron">
    <h1>New Project Page</h1>
    <p>Find me in app/views/project/new.html.erb</p>

    <%= form_for :project, url: project_index_path do |f| %>
        <p>
        <%= f.label :title %><br>
        <%= f.text_field :title %><br>
        </p>
        <p>
        <%= f.label 'Github Page' %><br>
        <%= f.text_field :githubPage %><br>
        </p>
        <p>
        <%= f.submit %>
        </p>
    <% end %>

</div>
