<h1>New Member Page</h1>
<p>Find me in app/views/member/new.html.erb</p>

<%= form_for :member, url: member_index_path do |f| %>
    <p>
        <%= f.label :firstName %><br>
        <%= f.text_field :firstName %><br>
    </p>
    <p>
        <%= f.label :lastName %><br>
        <%= f.text_field :lastName %><br>
    </p>
    <p>
        <%= f.label :studentNumber %><br>
        <%= f.number_field :studentNumber %><br>
    </p>
    <p>
        <%= f.submit %>
    </p>
<% end %>

