<% provide(:title, 'Edit Post') %>

<div class="container-fluid edit-post">
	<h2 class="center">
		Edit Post
	</h2>
	<div class="col-md-6 col-md-offset-3">
	    <%= form_for(@post) do |f| %>
	      <%= render 'shared/error_messages', object: @post %>
	      <%= f.label :title %>
	      <%= f.text_field :title %>
	      <%= f.label :text %>
	      <%= f.text_area :text, rows: "10" %>
	      <p id="mkdown"><small><%= markdown('Formatting: \*\***bold**\*\*  \__italics_\_  `` `code` `` \> block quote ')%></small></p>
	      <%= f.submit "Edit Post", class: "btn btn-primary" %>
	    <% end %>
	</div>
</div>