<div class="container"></div> 
<footer class="container-fluid footer">
	<div class="center links">
		<%=link_to "Contact Us", '#' %> 
		&middot;
		<%= link_to image_tag("facebook_small", size: "30x30"), "https://facebook.com/codethechangeubc" %>
		&middot;
		<%= link_to image_tag("github_small", size: "30x30"), 'https://github.com/CodeTheChangeUBC' %>
		&middot;
		<%= link_to "Parent Organization", 'https://codethechange.org' %>
	</div>
	<div class="login center">
		<% if !current_member %>
			<%= link_to login_path do %>
	            <span class="glyphicon glyphicon-user"></span>
	            Login
	        <% end %>
	    <% else %>
	    	<%= link_to(logout_path, method: 'delete') do %>
                <span class="glyphicon glyphicon-user"></span>
                Logout
            <% end %>
	     <% end %>
	</div>
	<div class="copyright center">
		<p>&copy; <%= Time.now.year %>, Code the Change - UBC Chapter</p>
	</div>
</footer>
