<!-- Global Header -->

<div class="global_header">
    <header>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#headerNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <%= link_to image_tag("ctc", alt: "Code the Change UBC", size: "105x50"), root_path, id: "logo", class: "navbar-brand" %>	 
                </div>
                <div class="collapse navbar-collapse" id="headerNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li><%= link_to "Home", root_path %></li>
                        <% if request.path === "/" %>
                            <li><a href="#about_section">About</a></li>
                            <li><a href="#projects_section">Projects</a></li>
                            <li><a href="#team_section">Team</a></li>
                        <% end %>
                        <% if logged_in? %>
                            <li class="member-name"><%= link_to current_member.firstName, current_member %></li>
                            <li><%= link_to logout_path do %>
                                <span class="glyphicon glyphicon-user"></span>
                                Logout
                            <% end %>
                            </li>
                            
                        <% else %>
                            <li><%= link_to login_path do %>
                                <span class="glyphicon glyphicon-user"></span>
                                Login
                            <% end %>
                            </li>
                        <% end %>
                    </ul>
                </div>
            </div>
        </div>
    </header>
</div>
