<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body data-spy="scroll" data-target=".navbar">	
	<!-- Global Header -->
	<%= render "layouts/header" %>
	<!-- Render error messages for forms (if any) -->
	<div class="container">
	    <% flash.each do |message_type, message| %>
	      <div class="alert alert-<%= message_type %>"><%= message %></div>
	    <% end %>
  	</div>
  	<!-- Yield content form invidividual pages -->
	<%= yield %>
	<!-- Global Footer -->
	<%= render "layouts/footer" %>
</body>
</html>
