<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
  <!-- Render error messages for forms (if any) -->
  <div id="error-container">
    <div class="container">
      <% flash.each do |message_type, message| %>
          <div class="alert alert-dismissible alert-<%= message_type %>">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <%= message %>
          </div>
      <% end %>
    </div>
  </div>
  <!-- Render Header -->
  <%= render 'layouts/header' %>
  <!-- Yield content from individual pages -->
  <%= yield %>
  <!-- Render footer -->
  <%= render 'layouts/footer' %>
</body>
</html>
