<div class="col-sm-3">
	<div id="box">
    <%= image_tag member.picture %>
	  	<div id="overlay">
	  		<div class="info clickable">
	  			<h4 data-toggle="modal" data-target="#info<%= member.id.to_s %>"><%= member.firstName %> <%= member.lastName %></h4>
	  			<h5><%= member.position %></h5>
	  		</div>
	  	</div>
	  	<!-- Modal -->
		<div id="info<%= member.id.to_s %>" class="modal fade container" role="dialog">
		  <div class="modal-dialog">

		    <!-- Modal content-->
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		        <h4 class="modal-title"><%= member.firstName %></h4>
		      </div>
		      <div class="modal-body">
		        <p><%= member.about %></p>
		        <div class="container-fluid links">
		        	<% if member.has_urls %>
		        	<p> Here's where you can find <%= member.firstName %>:</p>	
		        	<p><% if valid_link(member.github_url) %>
		        			<%= link_to "GitHub", member.github_url %> 
		        		<% end %>
		        		<% if valid_link(member.url1) %>
		        			<%= link_to "LinkedIn", member.url1 %> 
		        		<% end %>
		        		<% if valid_link(member.url2) %>
		        			<%= link_to member.url2, member.url2 %> 
		        		<% end %>
		        	</p>
		        	<% end %>
		        </div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn-md btn" data-dismiss="modal">Close</button>
		      </div>
		    </div>

		  </div>
		</div>
	</div>
</div>
